[submodule "CAVeware"]
	path = CAVeware
	url = git@github.com:CAVeRobotics/CAVeware.git
[submodule "CAVeBox"]
	path = CAVeBox
	url = git@github.com:CAVeRobotics/CAVeBox.git
[submodule "CAVeTalk"]
	path = CAVeTalk
	url = git@github.com:CAVEMaN-SeniorDesign/CAVeTalk.git
[submodule "HNSW-NDT-Sensor"]
	path = HNSW-NDT-Sensor
	url = git@github.com:delta-12/HNSW-NDT-Sensor.git
